<form method="post">	
	<fieldset>
		<legend>Introduce el numero de pueblos de la ruta:</legend>
		<label for="numero">Numero : </label><input type="number" name="numero" value="{{ form.num}}" required /><br /> 
		<input type="submit" value="Cargar Tabla" name="submit">
	</fieldset>
</form>